
body{
    background-color:#777;
    font-family: 'Ariel','Helvetica Neue', Helvetica, sans-serif;
}

.wrapper{
    margin: auto;
    width: 960px;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color{
    background-color: #ebebeb;
    color:#777;
}

.vertical-box{
    flex-direction: column;
    flex: 1;
    display: flex;
    width: 960px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.horizontal-box{
    display: flex;
    flex:1;
    height:325px;
    justify-content:center;
}

.horizontal-box + .horizontal-box{
    margin-left: 20px;
}
.middle{
    display: flex;
    flex-direction: row;
    flex:3;
    
}
section{
    flex: 1;
    background-color: #ebebeb;
    color: #777;
    width: 550px;
    margin-top: -50px;
}

.box{
    background-color: #777;
    display: flex;
    flex-direction: column;
    width: 535px;
    height: 220px;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 20px;

}
.h1h2h3,.p{
    color:#777;
    background-color: #ebebeb;
    flex:1;
    display:flex;
    flex-direction:column;
    width:480px;
    justify-content: center;
    align-content: center;
    margin:3px;
}
article{
    color: #ebebeb;
    flex:1.5;
    display:flex;
    flex-direction:column;
    width:480px;
    justify-content: center;

}
.p{
    margin-bottom: 15px;
}
aside{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    margin-top: 30px;
}